/* .banner-container{
 display: flex;
 justify-content: center;
 margin:0;
 padding: 0;
 width: 100%;
 -webkit-mask-image: linear-gradient(black, 93%, transparent);
 mask-image: linear-gradient(black,10%, transparent);
} */

.banner-container img{
  width: 100%;
  height: 100%;
  -webkit-mask-image: linear-gradient(black, 97.5%, transparent);
  mask-image: linear-gradient(black, 97.5%, transparent);
}

.ant-carousel .slick-dots{
  opacity: 0;
}
