@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

.cart-container{
    margin-top: 100px;
}

.cart-total-container{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid lightgray;
}

.cart-total{
    position: relative;
    font-size: 1.5rem;
    font-weight: 900;
    margin-left: 20px;
}

.cart-total::before{
    content: '₹';
    font-size: 1rem;
    position: absolute;
    top: 5px;
    left: -10px;
}

.cart-img{
    width: 150px !important;
    height: 150px !important;
    object-fit: contain;
}

.ant-list-item-meta{
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-item-container{
    display: flex;
    width: 100%;
    
    /* border: 1px solid red; */
}

.cart-item-container li{
    list-style: none;
}

.cart-item-price{
    position: relative;
    font-weight: 900;
    font-size: 1.2rem;
    font-family: 'Lato', sans-serif;
    margin-left: 8px; /* adjusting for the pseudo element for the rupee symbol*/
}

.cart-item-price::before{
    content:'₹';
    position: absolute;
    font-weight: normal !important;
    top: 4px;
    left: -8px;
    font-size: 0.85rem;
}

.cart-item-buttons-container{
    display: flex;
    align-items: center;
    gap: 3px;
    margin-top: 10px;
}

.cart-item-buttons-container input{
    width: 50px;
}

/* ..ant-list-item-meta-avatar, .ant-list-item-meta-content{

} */

/* style={{fontSize:"1rem", fontWeight:"600"}} */