.header-container{
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  display : flex;
  flex-direction : row;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  background-color: rgb(106 101 126);
  z-index: 77;
}

.header-container .branding{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-container .branding div{
  font-size: var(--font-lg);
  font-weight: bold;
  color: white;
}

.header-container .branding small{
  font-size: var(--font-sm);
  color: white;
  margin-top: -10px;
}

.mode-switch-container{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0px;
}

.header-container .nav-container ul{
  display: flex;
  flex-wrap: no-wrap;
  align-items: center;
  font-size: var(--font-md);
  gap: 8px;
  list-style-type: none;
}

.header-container svg{
  pointer-events: none;
  color: rgb(202, 191, 89);
}

.header-container .cart-logo{
  display: flex;
  align-items: center;
}

.ant-btn-primary{
  box-shadow: none !important;
}

.ant-input-search>.ant-input-group>.ant-input-group-addon:last-child{
  left: 0 !important; /* overriding antd search button position from left: -1*/
}
